# Django
DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_DB_ENGINE=django.db.backends.postgresql
DJANGO_DB_NAME=easycon
DJANGO_DB_USER=easycon
DJANGO_DB_PASSWORD=easycon
DJANGO_DB_HOST=localhost
DJANGO_DB_PORT=5432
API_DEFAULT_LIMIT=50
API_MAX_LIMIT=500

# PostgreSQL
POSTGRES_DB=easycon
POSTGRES_USER=easycon
POSTGRES_PASSWORD=easycon
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# MongoDB
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_DB=easycon
MONGO_USER=easycon
MONGO_PASSWORD=easycon
MONGO_AUTH_SOURCE=admin

# Mongo Express
MONGO_EXPRESS_USERNAME=admin
MONGO_EXPRESS_PASSWORD=admin

# CoinCap
COINCAP_API_KEY=
COINCAP_BASE_URL=https://rest.coincap.io/v3

# MQTT
MQTT_HOST=localhost
MQTT_PORT=8888
MQTT_CLIENT_1_USERNAME=mqtt-client-1
MQTT_CLIENT_1_PASSWORD=mqtt-client-1-pass
MQTT_CLIENT_2_USERNAME=mqtt-client-2
MQTT_CLIENT_2_PASSWORD=mqtt-client-2-pass
MQTT_CLIENT_3_USERNAME=mqtt-client-3
MQTT_CLIENT_3_PASSWORD=mqtt-client-3-pass
MQTT_INGESTOR_USERNAME=mqtt-ingestor
MQTT_INGESTOR_PASSWORD=mqtt-ingestor-pass
MQTT_INGESTOR_CLIENT_ID=mqtt-ingestor
MQTT_DJANGO_USERNAME=django-api
MQTT_DJANGO_PASSWORD=django-api-pass
MQTT_TLS_CA_CERT=infra/certs/ca/ca.crt
MQTT_TLS_CLIENT_CERT=infra/certs/mqtt/django.crt
MQTT_TLS_CLIENT_KEY=infra/certs/mqtt/django.key
MQTT_TOPIC_ROOT=easycon
DJANGO_MQTT_PUBLISHER_CLIENT_ID=django-api

# Modbus
MODBUS_HOST=modbus-server
MODBUS_PORT=10802
MODBUS_UNIT_ID=1
MODBUS_SERVER_ID=modbus-server-1
MODBUS_CLIENT_ID=modbus-client-1
MODBUS_SERVER_POLL_INTERVAL_SECONDS=15
MODBUS_CLIENT_POLL_INTERVAL_SECONDS=5
MODBUS_TLS_CA_CERT=infra/certs/ca/ca.crt
MODBUS_TLS_CLIENT_CERT=infra/certs/modbus/modbus-client.crt
MODBUS_TLS_CLIENT_KEY=infra/certs/modbus/modbus-client.key

# Ingestor
MQTT_MONGO_COLLECTION=mqtt_crypto_quotes
MODBUS_MONGO_COLLECTION=modbus_crypto_quotes
